.experienceWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experienceItem span {
    color: var(--light);
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experienceDesc {
    margin-top: 1rem;
}