.skillsWrapper {
    /* display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem 1rem; */
}

.skillsWrapper progress[value] {
    border-radius: 0;
    height: 0.7rem;

}


.skillsWrapper progress[value]::-webkit-progress-value {
    background-color: var(--light);
}