.App {
  display: grid;
  min-height: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 350px 1fr;
  }
}

.left-column {
  background: var(--light);
}

.left-column-inner {
  padding: 2rem;
}

.right-column {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media print {
  .App {
    display: block;
  }

  .right-column {
    gap: 2.5rem;
  }

  .left-column {
    display: flex;
    gap: 1rem;
  }
}